/* In your CSS file, e.g., PostList.module.css or App.css */
.driftingBg{
  background-image: url('https://media1.tenor.com/m/uPDLO3jjJmoAAAAd/bmw-bimmer.gif');
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
  min-height: 100vh; /* or 100% if you want only the container */
  width: 100%;
}